@import ../../styles/helpers


.mainContainer
  background: #f8f9fc

.hero
  background: #3d3d3d
  color: #fff
  text-align: center
  height: 50vh
  min-height: 500px

  +m
    height: 350px
    min-height: 0
  

.heroContent
  display: flex
  background-image: url("../../../public/images/content/hero-contact.png")
  background-size: cover
  background-position: center
  align-items: center
  justify-content: center
  height: 100%
  min-height: 200px
  flex-direction: column

.heroContent h1
  font-size: 3em
  font-weight: 600

  +t
    font-size: 3em

  +m
    font-size: 2.5em

.container
    max-width: 1280px
    margin: auto


.intro
  text-align: center
  margin-bottom: 32px

.intro h2
  font-size: 2em
  font-weight: 600
  margin-bottom: 12px

.intro p
  font-size: 1.5em
  font-weight: 400
  color: #666
  line-height: 1.6

  +m
    font-size: 1.2em

  .resourcesSection
    padding-top: 40px

  .intro h2
    font-size: 24px


.contactSection
  margin: auto
  padding: 60px 40px 80px 40px
  max-width: 1280px


.form
  background: #E2E8F0
  padding: 32px
  border-radius: 12px
  max-width: 800px
  margin: 0 auto
  display: flex
  flex-direction: column
  gap: 16px

.row
  display: flex
  gap: 16px
  width: 100%
  flex-wrap: nowrap

  .field 
    width: 50%

.row :global(.textInput)
  flex: 1 1 50%
  max-width: 50%

:global(.textInput)
  padding: 12px
  border: 1px solid #ccc
  border-radius: 6px
  font-size: 16px
  width: 100%

:global(.textInput textarea)
  resize: vertical


.submitButton
  background-color: #c0392b
  color: #fff
  padding: 12px
  font-size: 16px
  border: none
  border-radius: 6px
  cursor: pointer