@import ../../styles/helpers

.mainContainer
  background: #f8f9fc

.hero
  background: #3d3d3d
  color: #fff
  text-align: center
  height: 35vh
  min-height: 500px

  +m
    height: 350px
    min-height: 0

.heroContent
  display: flex
  justify-content: center
  background-image: url("../../../public/images/content/hero-resources.png")
  background-size: cover
  background-position: center
  align-items: center
  height: 100%
  min-height: 200px
  flex-direction: column

.heroContent h1
  font-size: 3em
  font-weight: 700

.container
    max-width: 1280px
    background: #FFFFFF
    margin: auto

.resourcesSection
  margin: auto
  padding: 60px 40px 80px 40px
  max-width: 1280px

.intro
  text-align: center
  margin-bottom: 32px

.intro h2
  font-size: 3.8em
  font-weight: 600
  margin-bottom: 12px

.intro p
  font-size: 16px
  color: #666
  line-height: 1.6

.faqTitle
    font-size: 2.3em
    margin-bottom: 16px